@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@foreach (var item in Model)
{
    <table class="table">
        <tr>
            <td>
                @item.Name
            </td>
        </tr>
    </table>
}
